{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <img src="https://placehold.co/100x100" alt="Avatar" class="img-fluid">
                </div>
                <input class="form-control w-75" type="number" value="0" placeholder="Default input"
                       aria-label="default input example">
            </div>
            <div class="col-10">
                <p class="card-text">It's answer #{{ answer.id }}. A bunch of text to make sure it works correctly: Radiohead
                    self-released their seventh album, In Rainbows (2007), as a download for which customers
                    could set their own price, to critical and chart success. Their eighth album, The King
                    of Limbs (2011), an exploration of rhythm, was developed using extensive looping and
                    sampling. A Moon Shaped Pool (2016) prominently featured Jonny Greenwood's orchestral
                    arrangements. Yorke, Jonny Greenwood, Selway and O'Brien have released solo albums. In
                    2021, Yorke and Jonny Greenwood debuted a new band, the Smile.</p>
                <div class="d-flex gap-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value=""
                               id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Correct!
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>