{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ custom_title|default:"Index" }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <div class="d-flex w-100 justify-content-between align-items-center">

            <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 25px">AskPupkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ASK!</button>
            </form>

            {% if user.is_authenticated %} <!--на будущее-->
                <div class="d-flex gap-1" id="">
                    <img src="asda.jpg" alt="Avatar" class="img-thumbnail">
                    <div>
                        <div>Dr. Pepper</div>
                        <a href="{% url 'settings' %}">settings</a>
                        <a href="{% url 'logout' %}">log out</a>
                    </div>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}">log in</a>
                    <a href="{% url 'signup' %}">register</a>
                </div>
            {% endif %}
        </div>

    </div>
</nav>

<main class="container mt-3">

    <div class="row">
        {% block content %}
        {% endblock %}
        <div class="col">
            <section class="mb-3">
                <h2>Popular Tags</h2>
                <div>
                    {% for tag in tags %}
                        <span class="badge text-bg-light">
                            <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                        </span>
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Best Members</h2>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="">Member</a></li>
                        <li class="list-group-item"><a href="">Member</a></li>
                        <li class="list-group-item"><a href="">Member</a></li>
                        <li class="list-group-item"><a href="">Member</a></li>
                        <li class="list-group-item"><a href="">Member</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</main>

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="{% url 'ask' %}" class="nav-link px-2 text-muted">Ask</a></li>
        <li class="nav-item"><a href="{% url 'settings' %}" class="nav-link px-2 text-muted">Settings</a></li>
    </ul>
    <p class="text-center text-muted"><a href="https://education.vk.company/">© 2024 VK Education</a></p>
</footer>

<script src="../static/js/bootstrap.min.js"></script>
</body>

</html>