body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-image {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.search-form-button {
    all: unset;
    border: 1px solid black;
    border-radius: 3px;
    background-color: green;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.search-form-button:hover {
    opacity: 90%;
}

.search-form-input {
    height: 25px;
    width: 300px;
}

.container {
    padding: 10px;
}

.title-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.cards {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
}

.card {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
}

.card-image {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.card-likes {
    width: 100%;
    padding: 0;
}

.card-title {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-right-bottom {
    display: flex;
    justify-content: space-between;
}

.popular-tags h3 {
    margin-bottom: 10px;
}

.best-members-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}