<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/(vanilla).css">

</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="#">
                AskPupkin
            </a>
        </div>

        <div class="search-form">
            <form action="'#">
                <input class="search-form-input" type="text">
                <button class="search-form-button">Ask!</button>
            </form>
        </div>

        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>

        </div>
    </header>


    <main class="container">
        <div class="title-bar">
            <h1>New questions</h1>
            <a href="./hot-questions.html">Hot questions</a>
        </div>

        <div class="content">
            <div class="cards">

                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">

                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>
                            <div>Text Here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>

                            <div class="card-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">

                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>
                            <div>Text Here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>

                            <div class="card-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>

                    <div class="card-right">

                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>
                            <div>Text Here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>

                            <div class="card-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>


                <div class="pagination">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>...</button>
                    <button>100</button>
                </div>
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>

                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>

        </div>
    </main>

</body>

</html>