{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>New Question</h1>
    </div>

    <div class="col-9">
        <div class="d-flex flex-column gap-3">
            <div class="row">
                <div class="col-2" style="font-size: 25px;">Title</div>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="How to build a moon park?"
                           aria-label="default input example">
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="font-size: 25px;">Text</div>
                <div class="col-8">
                            <textarea class="form-control" id="questionForm" rows="7"
                                      placeholder="Text of the question"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="font-size: 25px;">Tags</div>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="moon, park"
                           aria-label="default input example">
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <button class="btn btn-outline-success" type="submit">ASK!</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}