{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Hot Questions</h1>
        <a href="{% url 'index' %}">New Questions</a>
    </div>

    <div class="col-9">
        <div class="d-flex flex-column gap-3">
            {% for question in questions %}
                {% include 'layouts/card.html' %}
            {% endfor %}
            {% include 'layouts/pagination.html' %}
        </div>
    </div>
{% endblock %}