{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Log In</h1>
    </div>

    <div class="col-9">
        <div class="d-flex flex-column gap-3">

            <div class="alert alert-danger mt-3" role="alert">
                Sorry, wrong password!
            </div>

            {% include 'layouts/login_field.html' %}
            {% include 'layouts/password_field.html' %}

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <button class="btn btn-outline-success" type="submit">Log in!</button>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <a href="{% url 'signup' %}">create new account</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}