<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <div class="d-flex w-100 justify-content-between align-items-center">

                <a class="navbar-brand" href="index.html" style="font-size: 25px">AskPupkin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">ASK!</button>
                </form>

                <div>
                    <a href="login.html">log in</a>
                    <a href="signup.html">register</a>
                </div>
            </div>

        </div>
    </nav>

    <main class="container mt-3">
        <div class="row">

            <div class="col-9">

                <div class="d-flex flex-column gap-3">

                    <div class="card-body ">
                        <div class="row">

                            <div class="col-3">

                                <div class="mb-2">
                                    <img src="https://placehold.co/200x200" alt="Avatar" class="img-fluid">
                                </div>


                                <input class="form-control w-25" type="number" value="0" placeholder="Default input"
                                    aria-label="default input example">

                            </div>

                            <div class="col">
                                <h5 class="card-title fs-1">Big and important question?</h5>
                                <p class="card-text mt-3">Radiohead signed to EMI in 1991 and released their debut album, Pablo Honey, in 1993. Their debut single, "Creep", was a worldwide hit, and their popularity and critical standing rose with The Bends in 1995. Their third album, OK Computer (1997), is acclaimed as a landmark record and one of the best albums in popular music, with complex production and themes of modern alienation. Their fourth album, Kid A (2000), marked a dramatic change in style, incorporating influences from electronic music, jazz, classical music and krautrock. Though Kid A divided listeners, it was later named the best album of the decade by multiple outlets. It was followed by Amnesiac (2001), recorded in the same sessions. Hail to the Thief (2003), with lyrics addressing the war on terror, blended the band's rock and electronic sides, and was Radiohead's final album for EMI.</p>
                                <div>
                                    Tags:
                                    <a href="tag.html" class="card-link">bender</a>
                                    <a href="#" class="card-link">tender</a>
                                    <a href="#" class="card-link">esplanade</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr class="my-3">

                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-2">
                                        <img src="https://placehold.co/100x100" alt="Avatar" class="img-fluid">
                                    </div>

                                    <input class="form-control w-75" type="number" value="0" placeholder="Default input"
                                        aria-label="default input example">


                                </div>
                                <div class="col-10">
                                    <p class="card-text">A bunch of text to make sure it works correctly: Radiohead self-released their seventh album, In Rainbows (2007), as a download for which customers could set their own price, to critical and chart success. Their eighth album, The King of Limbs (2011), an exploration of rhythm, was developed using extensive looping and sampling. A Moon Shaped Pool (2016) prominently featured Jonny Greenwood's orchestral arrangements. Yorke, Jonny Greenwood, Selway and O'Brien have released solo albums. In 2021, Yorke and Jonny Greenwood debuted a new band, the Smile.</p>
                                    <div class="d-flex gap-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Correct!
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-2">
                                        <img src="https://placehold.co/100x100" alt="Avatar" class="img-fluid">
                                    </div>

                                    <input class="form-control w-75" type="number" value="0" placeholder="Default input"
                                        aria-label="default input example">


                                </div>
                                <div class="col-10">
                                    <p class="card-text">Some quick example text to build on the card title and makeup
                                        the bulk of the card's content.</p>
                                    <div class="d-flex gap-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Correct!
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr class="my-3">

                    <textarea class="form-control" id="questionForm" rows="7"
                        placeholder="Text of the question"></textarea>

                    <div>
                        <button class="btn btn-outline-success" type="submit">Answer</button>
                    </div>

                </div>

            </div>


            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <span class="badge text-bg-primary">Primary</span>
                        <span class="badge text-bg-secondary">Secondary</span>
                        <span class="badge text-bg-success">Success</span>
                        <span class="badge text-bg-danger">Danger</span>
                        <span class="badge text-bg-warning">Warning</span>
                        <span class="badge text-bg-info">Info</span>
                        <span class="badge text-bg-light">Light</span>
                        <span class="badge text-bg-dark">Dark</span>
                    </div>
                </section>

                <section>
                    <h2>Best Members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="">Member</a></li>
                            <li class="list-group-item"><a href="">Member</a></li>
                            <li class="list-group-item"><a href="">Member</a></li>
                            <li class="list-group-item"><a href="">Member</a></li>
                            <li class="list-group-item"><a href="">Member</a></li>
                        </ul>
                    </div>
                </section>
            </div>

        </div>


    </main>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="ask.html" class="nav-link px-2 text-muted">Ask</a></li>
            <li class="nav-item"><a href="settings.html" class="nav-link px-2 text-muted">Settings</a></li>
        </ul>
        <p class="text-center text-muted"><a href="https://education.vk.company/">© 2024 VK Education</a></p>
    </footer>

    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>