{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Settings</h1>
    </div>

    <div class="col-9 mt-3">
        <div class="d-flex flex-column gap-3">

            {% include 'layouts/login_field.html' %}
            {% include 'layouts/email_field.html' %}
            {% include 'layouts/nickname_field.html' %}

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Upload avatar</label>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <img src="https://placehold.co/100x100" alt="Avatar" class="card-img-top w-100 h-100">

                    </div>
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <button class="btn btn-outline-success" type="submit">Save</button>
                </div>
            </div>

        </div>

    </div>
{% endblock %}