{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Registration</h1>
    </div>

    <div class="col-9">
        <div class="d-flex flex-column gap-3">

            <div class="alert alert-danger mt-3" role="alert">
                Sorry, this email is already registered!
            </div>

            {% include 'layouts/login_field.html' %}
            {% include 'layouts/email_field.html' %}
            {% include 'layouts/nickname_field.html' %}
            {% include 'layouts/password_field.html' %}

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Repeat password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="********">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Upload avatar</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <button class="btn btn-outline-success" type="submit">Register!</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}